* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ccc;
}

/* NAVEGACAO */
.container {
    
    height: 150px;
    width: 100%;
    background-color: black;
    display: flex;
    flex: 1;
    align-items: center;
    color: white;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.container img {
    height: 100px;
    flex: 1;
}

.container div {
    background-color: white;
    color: black;
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    margin-right: 100px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    
}

.menu:hover {
    background-color: #ccc;
    text-decoration: underline;
}
/* NAVEGACAO */

/* CONTAINER 2 CONTEUDO PRINCIPAL*/

.container2 {
    width: 500px;
    height: 700px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #1b263b;
    box-shadow: 0px 2px 30px black;
}

.container2 div {
    font-size: 20px;
    padding: 20px;
    background-color: #0d1b2a;
    color: white;
    width: 60%;
    text-align: center;
    border-radius: 10px;
}

.container2 a:hover {
    font-size: 23px;
    background-color: #1b263b;
}

.container2 a {
    font-size: 20px;
    padding: 20px;
    background-color: #0d1b2a;
    color: white;
    width: 60%;
    text-align: center;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
