* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ccc;
}

/* NAVEGACAO */
.container {
    
    height: 150px;
    width: 100%;
    background-color: black;
    display: flex;
    flex: 1;
    align-items: center;
    color: white;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.container img {
    height: 100px;
    flex: 1;
}

.container div {
    background-color: white;
    color: black;
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    margin-right: 100px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    
}

.menu:hover {
    background-color: #ccc;
    text-decoration: underline;
}
/* NAVEGACAO */

/* CONTAINER 2 CONTEUDO PRINCIPAL*/

.container2 {
    width: 500px;
    height: 700px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #1b263b;
    box-shadow: 0px 2px 30px black;
}

.container2 div {
    font-size: 20px;
    padding: 20px;
    background-color: #0d1b2a;
    color: white;
    width: 60%;
    text-align: center;
    border-radius: 10px;
}

.container2 .mundodosvivos:hover {
    font-size: 23px;
    background-color: #1b263b;
    background-image: url("https://i.pinimg.com/736x/45/61/9f/45619f9124704ccb955920e27ddd2d76.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    border: 2px solid black;
}


.container2 .sereitei:hover {
    font-size: 23px;
    background-color: #1b263b;
    background-image: url("https://bleach-rpghb.weebly.com/uploads/1/2/6/7/12671167/733189826.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    border: 2px solid black;
}

.container2 .huecomundo:hover {
    font-size: 23px;
    background-color: #1b263b;
    background-image: url("https://preview.redd.it/theres-something-so-beautifully-bleak-about-hueco-mundo-v0-jo0q3zr2p1ce1.jpeg?auto=webp&s=0e69961101562ae750eb1fe6b7e6e97bdc1a8b89");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    border: 2px solid black;
}

.container2 .quincy:hover {
    font-size: 23px;
    background-color: #1b263b;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9B4VAmgvaLvkjC5KRZjVdkRpixAzDqtrLEw&s");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    border: 2px solid black;
}




.container2 a {
    font-size: 20px;
    padding: 20px;
    background-color: #0d1b2a;
    color: white;
    width: 60%;
    text-align: center;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
